/* Agrandir le logo société dans tous les rapports PDF */
.o_company_logo {
    max-height: 9rem;
    max-width: 18rem;
}
.o_company_logo_small {
    max-height: 7rem;
    max-width: 15rem;
}
.o_company_logo_big {
    max-height: 12rem;
    max-width: 22rem;
}
